<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="renderer" content="webkit" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="keywords" content="{$system.s_seoname}" />
<meta name="description" content="{$system.s_description}" />
<title>{$system.s_name}</title>

<link rel="stylesheet" href="/resource/index/css/ui.css" />
<link rel="stylesheet" href="/resource/index/css/style.css" />
<link rel="stylesheet" href="/resource/common/css/bootstrap.min.css" />


<script src="/resource/common/js/jquery.min.js"></script>
<script src="/resource/common/js/bootstrap.min.js"></script>
<script src="/resource/common/js/TouchSlide.1.1.js"></script>
<script src="/resource/index/js/jquery.SuperSlide.2.1.js"></script>
<script src="/resource/index/js/global.js"></script>